{% extends 'base.html' %}

{% block title %}Applications — {{ job.title }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h2 class="mb-0">Applications for {{ job.title }}</h2>
        <p class="text-muted">{{ job.company }}</p>
    </div>
    <a href="{% url 'employer_dashboard' %}" class="btn btn-secondary">
        ← Back to Dashboard
    </a>
</div>

{% if applications %}
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Applicant</th>
                    <th>Email</th>
                    <th>Applied On</th>
                    <th>Resume</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for app in applications %}
                <tr>
                    <td class="fw-semibold">{{ app.applicant.username }}</td>
                    <td>{{ app.applicant.email }}</td>
                    <td>{{ app.applied_at|date:"d M Y" }}</td>
                    <td>
                        {% if app.get_resume_url %}
                    <a href="{{ app.get_resume_url }}"
                        target="_blank"
                        class="btn btn-sm btn-outline-primary">
                        View Resume
                    </a>
{% endif %}
                    </td>
                   <td>
    <form method="POST" action="{% url 'update_status' app.pk %}">
        {% csrf_token %}
        <select name="status" class="form-select form-select-sm"
                onchange="this.form.submit()" style="width:130px">
            <option value="applied"
                {% if app.status == 'applied' %}selected{% endif %}>
                Applied
            </option>
            <option value="shortlisted"
                {% if app.status == 'shortlisted' %}selected{% endif %}>
                Shortlisted
            </option>
            <option value="hired"
                {% if app.status == 'hired' %}selected{% endif %}>
                Hired
            </option>
            <option value="rejected"
                {% if app.status == 'rejected' %}selected{% endif %}>
                Rejected
            </option>
        </select>
    </form>
</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="text-center py-5">
        <h5 class="text-muted">No applications yet for this job.</h5>
    </div>
{% endif %}
{% endblock %}